@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;   /* Blue */
  --color-secondary: #10B981; /* Green */
  --color-neutral: #111827;   /* Dark Gray */
}

@layer base {
  html, body {
    @apply h-full w-full scroll-smooth antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
